* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: sans-serif;
}

body {
    text-align: center;
}

h1 {
    margin: 10% auto 4%;
    font-size: 200%;
}

span {
    margin: 1%;
}

input {
    margin: 5%;
    width: 25%;
    height: 50px;
    border-radius: 5%;
}

button {
    width: 100px;
    height: 50px;
    margin: 5%;
    background-color: lightcoral;
    border-radius: 5%;
}