<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        h1 {
            margin: auto;
            text-align: center;
            padding: 2%;
        }
        main {
            display: flex;
            margin: auto;
        }
        section {
            flex: 1;
            background-color: lightblue;
            border: 5px solid black;
            height: 500px;
            margin: 1%;
        }
    </style>
</head>
<body>
    <h1 >Welcome!</h1>
    <main>
        <section></section>
        <section></section>
        <section></section>
    </main>
    
</body>
</html>